<!DOCTYPE html>
<html lang="en">

<head>
	<!-- GOOGLE_ANALYTICS_SCRIPT -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="description" content="Chat - 基于Web的在线视频会议." />
	<meta name="keywords" content="群组视频聊天, 视频交流, 多方视频会议, 视频聊天, webrtc, peer to peer, p2p" />
	<meta name="application-name" content="Chat" />
	<!-- Meta data for link fetching -->
	<meta property="og:url" content="https://chat.cheki.cn" />
	<meta property="og:image" content="https://q.cheki.cn/file/bqLqpa/clouds.png" />
	<meta property="og:title" content="Chat会议室" />
	<meta property="og:description"
		content="Chat is a free & open-source video conference app for the web. Works in all major browsers. No signups. No downloads. 100% peer-to-peer." />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" href="/favicon.svg" />
	<link rel="stylesheet" href="/style.css" />
	<script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="vue.min.js"></script>
	<script defer src="app.js"></script>
	<script defer src="script.js"></script>
	<title>Chat会议室</title>
</head>

<body>
	<section id="videos"></section>
	<main id="app" v-bind:style="'display:block'">
		<div id="intro" v-if="showIntro && !showChat && !showSettings">
			<p>
				欢迎加入<strong>Chat</strong>视频会议！
			</p>
			<p>
				<small>
					<i>快速分享会议链接：</i><br />
					<span class="roomLink">{{roomLink}}</span>
					<a class="copyURL" href="javascript:void(0)" v-on:click="copyURL">{{copyText || "点击复制"}}</a>
				</small>
			</p>
		</div>

		<div id="chatWrap" v-if="showChat">
			<div id="chats">
				<div class="chat" v-for="(chat, i) in chats" v-bind:key="i">
					<span class="name">{{chat.name}}</span>
					<span class="date light"> &middot; {{formatDate(chat.date)}}</span>
					<div class="message" v-html="linkify(chat.message)"></div>
				</div>
				<div id="noChat" class="light" v-if="!chats.length"><small>暂无聊天消息。</small></div>
			</div>
			<div id="composeBox">
				<div id="placeholder" v-if="typing.length <= 0">输入消息…</div>
				<div id="compose" contenteditable="true" v-on:keydown.enter="sendChat" v-on:input="edit($event)"
					v-on:paste="paste($event)"></div>
			</div>
			<small class="light">按回车键发送…</small>
		</div>

		<div id="settings" v-if="showSettings">
			<div id="name" class="label">
				<span>姓名：</span>
				<input type="text" placeholder="输入您的姓名" v-model="name" v-on:keyup="nameToLocalStorage" />
			</div>
			<hr class="separator" />

			<div class="label">摄像头设备 📹</div>
			<div v-for="(videoDevice, i) in videoDevices" v-bind:key="videoDevice.deviceId">
				<div v-bind:class="'link indent '+(selectedVideoDeviceId === videoDevice.deviceId ? 'active' : '')"
					v-on:click="changeCamera(videoDevice.deviceId)">
					{{videoDevice.label}}
				</div>
			</div>
			<hr class="separator" />

			<div class="label">麦克风设备 🎙️</div>
			<div v-for="(audioDevice, i) in audioDevices" v-bind:key="audioDevice.deviceId">
				<div v-bind:class="'link indent '+(selectedAudioDeviceId === audioDevice.deviceId ? 'active' : '')"
					v-on:click="changeMicrophone(audioDevice.deviceId)">
					{{audioDevice.label}}
				</div>
			</div>
			<hr class="separator" />

			<div class="link" v-on:click="copyURL">{{copyText || "复制会议链接"}}</div>
			<hr class="separator" />
			<div class="link" v-on:click="toggleSelfVideoMirror">
				镜像显示：打开/关闭
				<small class="light">(仅对自己生效)</small>
			</div>
		</div>

		<div id="actionsWrap" v-bind:class="hideToolbar ? 'hidden' : ''">
			<div id="actions">
				<button v-bind:class="'icon-mic'+(audioEnabled ? '' : '-off')" v-on:click="audioToggle"></button>
				<button v-bind:class="'icon-video'+(videoEnabled ? '' : '-off')" v-on:click="videoToggle"></button>
				<button v-bind:class="'icon-message-square '+(showChat ? 'active' : '')"
					v-on:click="showChat = !showChat"></button>
				<button v-if="!isMobileDevice" v-bind:class="'icon-monitor '+(screenShareEnabled ? 'active' : '')"
					v-on:click="screenShareToggle"></button>
				<button v-bind:class="'icon-exit'" v-on:click="exit"></button>
				<button v-bind:class="'icon-more-horizontal '+(showSettings ? 'active' : '')"
					v-on:click="showSettings = !showSettings"></button>
			</div>
		</div>
	</main>
</body>

</html>